################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hotel California/DesignTimeBuild/.dtbcache.v2
/.vs/*
.vs/*
.vs/
*.vs/
.vs
*.suo
*.cache
*/debug/
*/debug/*
debug/
*/debug*
Hotel-California/
Hotel California - WebClient\Client\bin\Debug
Hotel California - WebClient\Client\bin\Debug\
C:\Users\Mirnes\Source\Repos\Hotel-California\Hotel California - WebClient\Server\obj\Debug
C:\Users\Mirnes\Source\Repos\Hotel-California\Hotel California - WebClient\Server\obj\Debug\
C:\Users\Mirnes\Source\Repos\Hotel-California\Hotel California - Data manipulation Layer\obj\Debug
C:\Users\Mirnes\Source\Repos\Hotel-California\Hotel California - Data manipulation Layer\obj\Debug\
C:\Users\Mirnes\Source\Repos\Hotel-California\MaintenanceApp\obj
C:\Users\Mirnes\Source\Repos\Hotel-California\MaintenanceApp\obj\