################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hotel California/DesignTimeBuild/.dtbcache.v2
/.vs/*
.vs/*
.vs/
*.vs/
.vs
*.suo
*.cache
*/debug/
*/debug/*
debug/
*/debug*
*/bin/
*/bin/*
*/obj/
*/obj/*
*/bin
*/obj
*/bin*
*/obj*



Hotel California - WebClient\Client\bin
Hotel California - WebClient\Client\bin\
Hotel California - WebClient\Client\obj
Hotel California - WebClient\Client\obj\

Hotel California - Data manipulation Layer\obj\Debug
Hotel California - Data manipulation Layer\obj\Debug\
Hotel-California\MaintenanceApp\obj*
Hotel-California\MaintenanceApp\obj\*

