################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hotel California/DesignTimeBuild/.dtbcache.v2
/.vs/*
.vs/*
.vs/
*.vs/
.vs
*.suo
*.cache
*/debug/
*/debug/*
debug/
*/debug*
Hotel-California/
Hotel California - WebClient\Client\bin\Debug
Hotel California - WebClient\Client\bin\Debug\