<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
		
    </startup>
	<connectionStrings>
		<add name="Entitites"
			connectionString="metadata=res://*/HotelCal.csdl|res://*/HotelCal.ssdl|res://*/HotelCal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hotel-california.database.windows.net;initial catalog=Hotel-California;persist security info=True;user id=eagle;password=Kv!gSci4KsrXp6D;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			providerName="System.Data.EntityClient"/>
		<add name="Entities_oui"
			connectionString="metadata=res://*/HotelCal2.csdl|res://*/HotelCal2.ssdl|res://*/HotelCal2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hotel-california.database.windows.net;initial catalog=Hotel-California;persist security info=True;user id=eagle;password=Kv!gSci4KsrXp6D;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
</configuration>