@page "/About"

<h1>About Us</h1>

<div>
    This is the web client for the Assignment 4 project of DAT154.
</div>

<div>
    It's developped with Blazor
</div>

<div>
    We Hope you will have a great stay at the Hotel California !
</div>

<div>
    The project took the joined efforts of three peoples from Group 11 : Mirnes Sabaredzovic (The Master Mind), Martí Segarra Balaguer and Martin Useo (writing these lines).
</div>
