@page "/Booking"

<div>
    <h1>This is the Booking section</h1>
</div>

<br />
<div id="Step 1">
    <h3>Step 1</h3>
    Choose the dates of booking for your room :<br />

    <div class="flexcontainer">

        <div class="flexchildren">

            Start date<br />
            <input type="date" id="begin" /><br />
            <br />

            End date<br />
            <input type="date" id="end" /><br />
            <br />
            <input type="button" class="button" value="Confirm" @onclick="DateConfirm"/>
        </div>
    </div>
</div>

@* -------------------------------------------------------------------------------------------------------------------------------------------------- *@

<br />
<div id="Step 2">
    <h3>Step 2</h3>
    Select the properties of the room you want to see :<br />

    <div class="flexcolcontainer2">

        <div class="flexcontainer">

            <div class="flexcolcontainer">

                <div class="flexchildren">
                    How many people are you ?<br />
                </div>

                <div class="flexcontainer">

                    <div class="flexchildren">
                        1 <br />
                        2 <br />
                        4 <br />
                        6 <br />
                          <br />
                    </div>
                    <div class="flexchildren">
                        <input type="checkbox" id="pplcnt1" @onchange="one" /><br />
                        <input type="checkbox" id="pplcnt2" @onchange="two" /><br />
                        <input type="checkbox" id="pplcnt4" @onchange="four" /><br />
                        <input type="checkbox" id="pplcnt6" @onchange="six" /><br />
                    </div>
                </div>
            </div>


            <div class="flexcolcontainer">

                <div class="flexchildren">
                    How much money do you have to throw away ?<br />
                </div>

                <div class="flexcontainer">

                    <div class="flexchildren">

                        A little (*) <br />
                        A decent amount (**) <br />
                        Way too much (***) <br />
                        <br />
                    </div>
                    <div class="flexchildren">
                        <input type="checkbox" id="qlt1" /><br />
                        <input type="checkbox" id="qlt2" /><br />
                        <input type="checkbox" id="qlt3" /><br />
                    </div>
                </div>
            </div>

            <div class="flexcolcontainer">

                <div class="flexchildren">
                    How big do you want your room ?<br />
                </div>
                <div class="flexcontainer">
                    <div class="flexchildren">

                        Small <br />
                        Medium <br />
                        Large <br />
                        <br />
                    </div>
                    <div class="flexchildren">
                        <input type="checkbox" id="sizeS" @onchange="S" /><br />
                        <input type="checkbox" id="sizeM" @onchange="M" /><br />
                        <input type="checkbox" id="sizeL" @onchange="L" /><br />
                    </div>
                </div>
            </div>
        </div>
        <input type="button" class="button" value="Confirm" id="confirm_room_properties" @onclick="PropertiesConfirm" />
    </div>
</div>

@* -------------------------------------------------------------------------------------------------------------------------------------------------- *@

<br />
<div>
    <h3>Step 3</h3>
    Please identify yourself :<br />

    <div class="flexcontainer">

        <div class="flexchildren">
            Name :<br />
            <input type="text" id="cname" /><br />
            <br />
            Password :<br />
            <input type="password" id="cpassword" /><br />
            <br />
            <input type="button" id="confirm_login" class="button" value="Confirm" @onclick="LoginConfirm" />
        </div>
    </div>
</div>

@* -------------------------------------------------------------------------------------------------------------------------------------------------- *@

<br />
<div>
    <h3>Step 4</h3>
    Choose from the list of Rooms available for the properties you selected : <input type="button" id="confirm_query" class="button" value="Search" @onclick="SearchConfirm" />
    <br />

    <table>


    </table>

</div>

@* -------------------------------------------------------------------------------------------------------------------------------------------------- 
   -------------------------------------------------------------------------------------------------------------------------------------------------- *@

@code {

    // WHAT NEEDS TO BE IMPLEMENTED----------------------------------------------------------------------------------------------------+
    //                                                                                                                                 |
    // H E L P                                                                                                                         |
    //                                                                                                                                 |
    //---------------------------------------------------------------------------------------------------------------------------------+

    [Parameter]

    // Step 1
    public DateTime begin { get; set; }
    public DateTime end { get; set; }

    public void DateConfirm(MouseEventArgs e)
    {

    }


    // Step 2
    public string check = "unchecked";

    public int pplcnt1 = 1;
    public int pplcnt2 = 2;
    public int pplcnt4 = 4;
    public int pplcnt6 = 6;
    List<int> pplcnt = new List<int>();

    private void one()
    {
        if (this.check == "check")
        {
            this.check = "checked";
            pplcnt.Add(1);
        }

        else
        {
            this.check = "unchecked";
        }

        //if (this.TxtType == "password")
        //{
        //    this.TxtType = "text";
        //}
        //else
        //{
        //    this.TxtType = "password";
        //}
    }

    public void two()
    {

    }

    public void four()
    {

    }

    public void six()
    {

    }

    public string qlt1 = "*";
    public string qlt2 = "**";
    public string qlt3 = "***";
    List<string> qlt = new List<string>();



    public string sizeS = "S";
    public string sizeM = "M";
    public string sizeL = "L";
    List<string> size = new List<string>();

    public void S()
    {

    }

    public void M()
    {

    }

    public void L()
    {

    }


    public void PropertiesConfirm(MouseEventArgs e)
    {

    }




    // Step 3
    public string cname { get; set; }
    public string cpassword { get; set; }

    public void LoginConfirm(MouseEventArgs e)
    {

    }


    // Step 4
    public void SearchConfirm(MouseEventArgs e)
    {

    }
}