@page "/Register"

<h1>Here, you can register as a new Client</h1>
<h4>If you already have registered, you can go <a href="Booking">book your rooms</a></h4>

<br />
<div class="flexcontainer">

    <div class="flexchildren">

        Name :<br />
        <input type="text" @bind="name_input" /><br />
        <br />

        Password :<br />
        <input type="@TxtType" @bind="password_input" />    show password  <input type="checkbox" @onchange="ShowPassword" /><br />
        <br />

        Confirm Password :<br />
        <input class="@check" type="@TxtType" @bind="confirmpass_input"/><br />
        <br />
        @error_message

        <input type="button" class="button" value="Confirm" @onclick="Confirm" /><br />
    </div>
</div>




@code {

    IDataLayer IDL = new DataLayer();

    // WHAT NEEDS TO BE IMPLEMENTED----------------------------------------------------------------------------------------------+
    //                                                                                                                           |
    // A way of checking if the password and it's confirmation match => if not display a message to notify it -- done            |
    // A way of knowing if the combination name/password already exists in the db => if not display a message to notify it       |
    // Implementing the add_client method                                                                                        |
    //---------------------------------------------------------------------------------------------------------------------------+

    public string name_input;
    public string password_input;
    public string confirmpass_input;

    public string cname;
    public string cpassword;

    public string error_message;
    public string check = "normal";
    public string TxtType = "password";

    public void Confirm(MouseEventArgs e)
    {

        //Checking if the passwords match

        if (password_input == confirmpass_input)
        {
            error_message = "";

            // Second test to make sure the name/pass combo is not taken
            // Clients client = dc.Clients.Where(gid => gid.Name == cname && gid.Password == cpassword).FirstOrDefault();
            cname = name_input;
            cpassword = password_input;

            // NEED TO CALL THE CLIENT_ADD METHOD
            IDL.Add_Client(cname, cpassword);
        }
        else
        {
            error_message = "Passwords are not matching";
        }
    }

    // Hide/show pass function
    public void ShowPassword()
    {
        if (this.TxtType == "password")
        {
            this.TxtType = "text";
        }
        else
        {
            this.TxtType = "password";
        }
    }
}