@page "/Register"

<div class="box">
<h1>Here, you can register as a new Client</h1>
<h6>If you already have registered, you can go book your rooms</h6>
</div>

<div>
    Name
    <input type="text" id="cname" />
    Password
    <input type="password" id="cpassword"/>
    <input type="button" id="confirm" class="button" value="Confirm" />
</div>


@code {
    [Parameter]
    public string cname { get; set; }
    public string cpassword { get; set; }
}