@page "/Register"

<h1>Here, you can register as a new Client</h1>
<h4>If you already have registered, you can go <a href="Booking">book your rooms</a></h4>

<br />
<div class="flexcontainer">

    <div class="flexchildren">

        Name :<br />
        <input type="text" id="cname" /><br />
        <br />

        Password :<br />
        <input type="@TxtType" id="cpassword" />    show password  <input type="checkbox" @onchange="ShowPassword" /><br />
        <br />

        Confirm Password :<br />
        <input class="@check" type="@TxtType" id="confirmcpassword"/><br />
        <br />

        <input type="button" class="button" value="Confirm" @onclick="Update" /><br />
    </div>
</div>




@code {


    // WHAT NEEDS TO BE IMPLEMENTED----------------------------------------------------------------------------------------------+
    //                                                                                                                           |
    // A way of checking if the password and it's confirmation match => if not display a message to notify it                    |
    // A way of knowing if the combination name/password already exists in the db => if not display a message to notify it       |
    // Implementing the add_client method                                                                                        |
    //---------------------------------------------------------------------------------------------------------------------------+

    [Parameter]
    public string cname { get; set; }
    public string cpassword { get; set; }
    public string confirmcpassword { get; set; }

    public string check = "normal";
    public string TxtType = "password";

    public void Update(MouseEventArgs e)
    {
        // Checking if the passwords match
        //if (@cpassword == @confirmcpassword)
        //{
        //    this.check = "normal";
        //}
        //else
        //{
        //    this.check = "abnormal";
        //}

    }

    public void ShowPassword()
    {
        if (this.TxtType == "password")
        {
            this.TxtType = "text";
        }
        else
        {
            this.TxtType = "password";
        }
    }
}