@page "/Reservations"

<h1>Find Your Reservations here</h1>

<h2>Login</h2>
<div>
    Name
    <input type="text" />
    Password
    <input type="password" />
</div>

<h2>Reservation list</h2>

<table class="table">
    
        <tr>
            <td>PlaceHolder for Reservation ID</td>
            <td>PlaceHolder for Room ID</td>
            <td>PlaceHolder for Begin date</td>
            <td>PlaceHolder for End date</td>
        </tr>
    
</table>
