@page "/Reservations"

<h1>Find Your Reservations here</h1>

<h2>Login</h2>
<div>
    Name
    <input type="text" id="cname" />
    Password
    <input type="password" id="cpassword" />
    <input type="button" id="confirm" class="button" value="Confirm"/>
</div>

<h2>Reservation list</h2>

<table>
    <tbody>
        <tr>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>


@code {
    [Parameter]
    public string cname { get; set; }
    public string cpassword { get; set; }
}