@page "/Reservations"

<h1>Find Your Reservations here</h1>

<br />
<h2>Login</h2>

<div class="flexcontainer">

    <div class="flexchildren">
        Name :<br />
        <input type="text" id="cname" /><br />
        <br />
        Password :<br />
        <input type="password" id="cpassword" /><br />
        <br />
        <input type="button" id="confirm" class="button" value="Confirm" />
    </div>
</div>



<br />
<h2>Reservation list</h2>

<table>
    <tbody>
        <tr>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>


@code {

    // WHAT NEEDS TO BE IMPLEMENTED----------------------------------------------------------------------------------------------------+
    //                                                                                                                                 |
    // Identifying the Client with a method that retrieves the ID from the input of the pass and the name (already in the data layer)  |
    // Displaying a list of the reservation of the selected client                                                                     |
    //---------------------------------------------------------------------------------------------------------------------------------+

    [Parameter]
    public string cname { get; set; }
    public string cpassword { get; set; }
}